html,
body {
    margin: 0;
    padding: 0;
    background-color: #F8F4F0;
    /* position: absolute; */
    /* width: 1920px; */
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 1px solid orange;
    color: #1D1E22;
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    /* background: url("./assets/cement-bg.jpg"), lightgray 0% 0% / 100px 100px repeat; */
}

header {
    position: sticky;
    display: flex;
    width: 100vh;
    height: 10vh;
    background-color: rgb(255, 255, 255);

    padding: 20px 150px;
    justify-content: space-between;
    align-items: center;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 700px;
    position: absolute;
}

/* padding: 300px; */

.theme {
    width: 100%;
    height: 40vh;
    background-image: url(./img/bgl1.jpg);
}

.slogan {
    padding: 100px 0px;
    gap: 10px;
}

.content {
    height: 757px;
    padding: 300px;
    align-items: flex-start;
}


.content-block {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    left: 379px;
    bottom: 131.479px;
}

footer {
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: rgb(62, 109, 68);
}

.g-1 {
    gap: 10px;
}

.g-3 {
    gap: 30px;
}

.g-5 {
    gap: 50px;
}

.w-3 {
    width: 300px;
}

.w-4 {
    width: 464px;
}

.w-5 {
    width: 500px;
}

.w-7 {
    width: 700px;
}

.h-3 {
    height: 300px;
}

.h-8 {
    height: 800px;
}

.h-10 {
    height: 1000px;
}

.h-20 {
    height: 2000px;
}

.m-5 {
    margin: 50px;
}

.p-5 {
    padding: 50px;
}

.p-10 {
    padding: 100px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.content-start {
    align-content: flex-start;
}

.content-stretch {
    align-content: stretch;
}

.content-between {
    align-content: space-between;
}

.self-stretch {
    align-self: stretch;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.pos-absolute {
    position: absolute;
}

.left-0 {
    left: 0px;
}

.left-5 {
    left: 50px;
}

.left-1 {
    left: 100px;
}

.left-15 {
    left: 150px;
}

.left-2 {
    left: 200px;
}

.left-25 {
    left: 250px;
}

.left-3 {
    left: 300px;
}

.left-35 {
    left: 350px;
}

.left-4 {
    left: 400px;
}

.left-45 {
    left: 450px;
}

.left-5 {
    left: 500px;
}

.left-6 {
    left: 600px;
}

.left-7 {
    left: 700px;
}

.left-8 {
    left: 800px;
}

.left-9 {
    left: 900px;
}

.left-10 {
    left: 1000px;
}

.right-1 {
    right: 100px;
}

.right-2 {
    right: 200px;
}

.right-3 {
    right: 300px;
}

.right-4 {
    right: 400px;
}

.right-5 {
    right: 500px;
}

.right-6 {
    right: 600px;
}

.right-7 {
    right: 700px;
}

.right-8 {
    right: 800px;
}

.right-9 {
    right: 900px;
}

.right-10 {
    right: 1000px;
}

.top-1 {
    top: 100px;
}

.top-2 {
    top: 200px;
}

.top-3 {
    top: 300px;
}

.top-4 {
    top: 400px;
}

.top-5 {
    top: 500px;
}

.top-6 {
    top: 600px;
}

.top-7 {
    top: 700px;
}

.top-8 {
    top: 800px;
}

.top-9 {
    top: 900px;
}

.top-10 {
    top: 1000px;
}

.bottom-1 {
    bottom: 100px;
}

.bottom-2 {
    bottom: 200px;
}

.bottom-3 {
    bottom: 300px;
}

.bottom-4 {
    bottom: 400px;
}

.bottom-5 {
    bottom: 500px;
}

.bottom-6 {
    bottom: 600px;
}

.bottom-7 {
    bottom: 700px;
}

.bottom-8 {
    bottom: 800px;
}

.bottom-9 {
    bottom: 900px;
}

.bottom-10 {
    bottom: 1000px;
}