html,
body {
    margin: 0;
    padding: 0;
    /* position: absolute; */
    border: 1px solid orange;

}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    /* background: url("./assets/cement-bg.jpg"), lightgray 0% 0% / 100px 100px repeat; */
}

header {
    position: sticky;
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: rgb(240, 245, 245);
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.theme {
    width: 100%;
    height: 40vh;
}

.slogan {
    padding: 100px 0px;
    gap: 10px;
}

.content {
    height: 757px;
    padding: 300px;
    align-items: flex-start;
}

.block {
    display: flex;
    height: 757px;
    /* padding: 300px; */
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    /* align-items: center; */
}

.content-block {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    left: 379px;
    bottom: 131.479px;
}

footer {
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: rgb(175, 157, 253);
}

.slogan-title {
    color: #000;
    text-align: center;
    font-family: "Anek Malayalam";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 20px */
    letter-spacing: 2.6px;
}

.slogan-content {
    color: #717171;
    text-align: center;
    font-family: "Anek Malayalam";
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    line-height: 200%;
    /* 26px */
    letter-spacing: 1.69px;
}

.theme-title {
    color: #E6C8AC;
    font-family: "Noto Serif TC";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 64px */
    letter-spacing: 8.32px;
}

h1 {
    color: #E6C8AC;
    font-family: "Playfair Display";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 128px */
}

h2 {
    color: #F4CDAA;
    font-family: "Noto Serif TC";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 72px */
}

h2 {
    color: #E6C8AC;
    font-family: "Noto Serif TC";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 64px */
    letter-spacing: 8.32px;
}

h3 {}

.news h3 {
    color: #F4CDAA;
    font-family: "Noto Serif TC";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 48px */
}

h4 {
    color: #E6C8AC;
    font-family: "Noto Serif TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: 2.6px;
}

h5 {
    color: #626262;
    font-family: "Microsoft Sans Serif";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 26px */
    letter-spacing: 1.69px;

}

p {
    color: #939393;
    font-family: "Microsoft Sans Serif";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 26px */
    letter-spacing: 1.69px;
}

.time {
    color: #F4CDAA;
    font-family: "Microsoft Sans Serif";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.5px */
}

.invite {
    color: #FFF;
    font-family: "Microsoft Sans Serif";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.5px */
}

.feedback-name {
    color: #000;
    font-family: "Microsoft Sans Serif";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 26px */
    letter-spacing: 1.69px;
}

.feedback-content {
    color: #757575;
    font-family: "Microsoft Sans Serif";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 26px */
    letter-spacing: 1.69px;
}

.footer-title {
    color: #DDC0A5;
    font-family: "Anek Malayalam";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 38.4px */
}

.footer-content {
    color: #282828;
    font-family: "Microsoft Sans Serif";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 26px */
    letter-spacing: 1.69px;
}