html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background: url("../../LeNaiFarm/assets/cement-bg.jpg"), 100px 100px repeat;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.home-main-dispaly {

}

.slogan{

}

.title{
    0
}