.svg-course-title-dims {
	width: 291.84px;
	height: 45.6px;
}

.svg-dessert-title-dims {
	width: 291.41px;
	height: 45.13px;
}

.svg-fb-dims {
	width: 25.5px;
	height: 25.5px;
}

.svg-fb-white-dims {
	width: 25.5px;
	height: 25.5px;
}

.svg-feature-note-1-dims {
	width: 225.06px;
	height: 30.33px;
}

.svg-feature-note-2-dims {
	width: 160.13px;
	height: 76.66px;
}

.svg-feature-note-3-dims {
	width: 161.76px;
	height: 30.14px;
}

.svg-flowerpasta-head-dims {
	width: 96.13px;
	height: 30.01px;
}

.svg-footer-cookie-dims {
	width: 92.36px;
	height: 80.83px;
}

.svg-footer-logo-dims {
	width: 108.9px;
	height: 19.25px;
}

.svg-freshpasta-title-dims {
	width: 291.65px;
	height: 46.66px;
}

.svg-i-dims {
	width: 26.99px;
	height: 122.79px;
}

.svg-ig-dims {
	width: 25.5px;
	height: 25.5px;
}

.svg-ig-white-dims {
	width: 25.5px;
	height: 25.5px;
}

.svg-l-dims {
	width: 86.82px;
	height: 122.75px;
}

.svg-lasagne-head-dims {
	width: 161.7px;
	height: 30.14px;
}

.svg-m-dims {
	width: 132.2px;
	height: 122.75px;
}

.svg-n-dims {
	width: 103.65px;
	height: 122.75px;
}

.svg-noodle-ch-dims {
	width: 101px;
	height: 101px;
}

.svg-noodlesauce-dims {
	width: 128.16px;
	height: 30.4px;
}

.svg-o-dims {
	width: 120.68px;
	height: 128.46px;
}

.svg-picky-title-dims {
	width: 194.59px;
	height: 30.65px;
}

.svg-plin-head-dims {
	width: 161.89px;
	height: 30.33px;
}

.svg-salad-title-dims {
	width: 289.35px;
	height: 45.99px;
}

.svg-sauce-ch-dims {
	width: 101px;
	height: 101px;
}

.svg-shellpasta-head-dims {
	width: 95.42px;
	height: 29.99px;
}

.svg-shop-next-dims {
	width: 17.54px;
	height: 35.25px;
}

.svg-shop-prev-dims {
	width: 17.54px;
	height: 35.25px;
}

.svg-shopfancy-close-dims {
	width: 44.69px;
	height: 44.69px;
}

.svg-topmenu-logo-dims {
	width: 221.33px;
	height: 39.13px;
}

.svg-tortelloni-head-dims {
	width: 129.25px;
	height: 30.37px;
}

